/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/




params {
    modules {
        'kraken2' {
            publish_files   = ['txt':'','yml':'']
            publish_by_meta = true
            publish_dir     = "taxonomy/kraken2"
        }
        'krona' {
            publish_files   = ['html':'']
            publish_by_meta = true
            publish_dir     = "taxonomy"
        }
        'centrifuge' {
            publish_files   = ['txt':'']
            publish_by_meta = true
            publish_dir     = "taxonomy/centrifuge"
        }
        'blast_blastn' {
            args            = '-evalue 1e-20 -outfmt "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qlen qcovs" -num_alignments 250 -dust no'
            publish_dir     = 'blastn'
            publish_files   = ['yml':'', 'txt':'']
            suffix = "vs_ref"

        }
        'blast_blastn_self' {
            args            = '-evalue 1e-20 -outfmt "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qlen qcovs" -num_alignments 1 -dust no'
            publish_dir     = 'blastn_self'
            publish_files   = ['yml':'', 'txt':'']
            suffix = "vs_self"

        }
        'vsearch_vsearch_options' {
            args            = ''
            publish_dir     = 'debleeding/vsearch'
            publish_files   = ['fa':'', 'uc':'']
        }
        'remove_bleeding_ids' {
            args            = ''
            publish_dir     = 'debleeding/filtered_subtype'
            publish_files   = ['csv':'']
        }
        'debleeding_options' {
            args            = ''
            publish_dir     = 'debleeding/processing'
            publish_files   = ['seqids_pass.txt':'', 'result_fail.txt ':'', 'result_pass.txt ':'']
        }
        'cal_bsr_score' {
            args            = ''
            publish_dir   = 'BSR_score'
            publish_files   = ['txt':'']

        }
        'assign_subtype' {
            args            = ''
            publish_dir   = 'subtype'
            publish_files   = ['_subtype_fail.csv':'fail', '_subtype_pass.csv':'pass']

        }
        'sum_table' {
            args            = ''
            publish_dir   = 'result_table'
            publish_files   = ['csv':'']

        }
        'sum_heatmap' {
            args            = ''
            publish_dir   = 'heatmap'
            publish_files   = ['pdf':'']

        }
        'sum_table_debled' {
            args            = ''
            publish_dir   = 'result_table_debled'
            publish_files   = ['csv':'']

        }
        'sum_heatmap_debled' {
            args            = ''
            publish_dir   = 'heatmap_debled'
            publish_files   = ['pdf':'']

        }
        'blast_makeblastdb_nucl' {
            args            = '-dbtype nucl'
            publish_files   = false

        }
        'chimera_check' {
            args            = ''
            publish_dir   = 'chimera'
            publish_files   = ['txt':'']

        }
        'diamond_blastx' {
            args            = '-e 20 --masking 0 -F 15 --fast'
            publish_dir     = 'diamond'
            publish_files   = ['txt':'']

        }
        'vsearch_mergepairs' {
            publish_dir     = 'vsearch'
            publish_files   = ['fa':'', 'yml':'', 'merge_stat.txt':'', 'log.txt':'log', 'fq':'']

        }
        'vsearch_filter' {
            publish_dir     = 'vsearch1'
            publish_files   = ['fa':'', 'yml':'']

        }
        'vsearch_derep_fulllength' {
            publish_dir     = 'vsearch_derep_fulllength'
            publish_files   = ['fa':'', 'yml':'', 'uc':'uc']

        }
        'extract_seq_first_round' {
            publish_files   = ['fa':'']
            publish_dir     = 'candidate_seq_first_round'
        }
        'extract_seq_without_chimeras' {
            publish_files   = ['fa':'']
            publish_dir     = 'candidate_seq_without_chimeras'
        }
      
        'illumina_snpeff_build' {
            publish_dir     = 'genome/db'
        }
        'illumina_blast_makeblastdb' {
            args            = '-parse_seqids -dbtype nucl'
            publish_dir     = 'genome/db'
        }

        'illumina_cat_fastq' {
            publish_files   = true
            publish_dir     = 'fastq'
        }
        'illumina_fastqc_raw' {
            args            = '--quiet'
            publish_dir     = 'fastqc/raw'
        }
        'illumina_fastqc_trim' {
            args            = '--quiet'
            publish_dir     = 'fastqc/trim'
        }
        'illumina_fastp' {
            args            = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50'
            publish_files   = ['json':'', 'html':'', 'log': 'log','yml':'']
            publish_dir     = 'fastp'
        }
        'kraken2' {
            publish_files   = ['txt':'','yml':'']
            publish_by_meta = true
            publish_dir     = "taxonomy/kraken2"
        }
        'krona' {
            publish_files   = ['html':'']
            publish_by_meta = true
            publish_dir     = "taxonomy"
        }
        'centrifuge' {
            publish_files   = ['txt':'']
            publish_by_meta = true
            publish_dir     = "taxonomy/centrifuge"
        }
        'illumina_kraken2_kraken2' {
            args            = '--report-zero-counts'
            publish_files   = ['txt':'']
        }
        'illumina_bowtie2_align' {
            args            = '--local --very-sensitive-local --seed 1'
            args2           = '-F4'
            publish_files   = ['log':'log']
            publish_dir     = 'variants/bowtie2'
        }
        'illumina_bowtie2_sort_bam' {
            suffix          = '.sorted'
            publish_files   = ['bam':'', 'bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir     = 'variants/bowtie2'
        }
        'illumina_ivar_trim' {
            args            = '-m 30 -q 20'
            suffix          = '.ivar_trim'
            publish_files   = ['log':'log']
            publish_dir     = 'variants/bowtie2'
        }
     
        'illumina_cutadapt' {
            args            = '--overlap 5 --minimum-length 30 --error-rate 0.1'
            suffix          = '.primer_trim'
            publish_files   = ['log':'log']
            publish_dir     = 'assembly/cutadapt'
        }
        'illumina_cutadapt_fastqc' {
            args            = '--quiet'
            suffix          = 'primer_trim'
            publish_dir     = 'assembly/cutadapt/fastqc'
        }
      
        'illumina_multiqc' {
            args            = ''
            publish_files   = ['_data':'', 'html':'']
        }
    }
}
