/*
This file includes default values for SLURM parameters.
*/

params {
    slurm_opts = '--account rrg-whsiao-ab'
    runTime       = 2.h
    slurm_use_scratch = false
    singleCPUMem  = 1.GB // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
}

process {
  executor = 'slurm'
  scratch = params.slurm_use_scratch
  time = 2.h
  clusterOptions = "${params.slurm_opts}"

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 3

  withName:fastqc {
    cpus = 4
    memory = {params.singleCPUMem * 4 * task.attempt}
   // queue = 'core'
    time = {params.runTime * task.attempt}
  }
}
