/*
This file includes default values for SLURM parameters.
*/

params {
    slurm_opts = '--account rrg-whsiao-ab'
    runTime       = 2.h
    slurm_use_scratch = false
    singleCPUMem  = 1.GB // for processes that are using more memory but a single CPU only. Use the 'core' queue for these
}

process {
  withLabel:big_job {
    executor = 'slurm'
    cpus 4
    memory '2 GB'
    scratch = params.slurm_use_scratch
    time = 2.h
    clusterOptions = "${params.slurm_opts}"
   }
}
